{% extends "portfolio/base.html" %}
{% block content %}


<div class="row">
    <table class="table">
        <thead>
            <tr>
                <th>Click</th>
                <th>Title</th>
                <th>Category</th>
                <th>Upload_data</th>
            </tr>
        </thead>
        <tbody>
            {% for article in articles %}
            <tr>
                <td>
                    <a href="{% url 'article' article.id %}" target="_blank">
                        <button type="button" class="btn btn-primary btn-sm">
                            <nobr>詳細表示</nobr>
                        </button>
                    </a>
                </td>
                <td>{{ article.title}}</td>
                <td>
                    {% for category in article.categories.all %}
                        {{ category.name }}
                        {% if not forloop.last %}, {% endif %}
                    {% endfor %}
                </td>
                <td>{{ article.upload_date}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>


{% endblock %}
