{% extends 'portfolio/base.html'%}

{% block content %}
<table class="table table-sm" style="border-collapse:separate; border-spacing: 0;">
    <thead class="sticky-top text-center" style="background-color:silver;">
        <tr>
            <th>Stock_id</th>
            <th>銘柄名</th>
            <th>マーケット</th>
            <th>カテゴリー33</th>
            <th>カテゴリー17</th>
            <th>配当利率</th>
            <th>配当利回り</th>
            <th>5年間平均配当利回り</th>
            <th>配当性向</th>
            <th>時価総額</th>
            <th>総収入</th>
            <th>ROE(自己資本利益率)</th>

        <tr>
    </thead>
    <tbody>
        {% for metrics,financial in stock%}
            <tr>
                <td>{{metrics.stock_id}}</td>
                <td>{{metrics.stock_name}}</td>
                <td>{{metrics.market}}</td>
                <td>{{metrics.stock_category33}}</td>
                <td>{{metrics.stock_category17}}</td>
                <td>{{metrics.dividendRate}}</td>
                <td>{{metrics.dividendYield}}</td>
                <td>{{metrics.fiveYearAvgDividendYield}}</td>
                <td>{{metrics.payoutRatio}}</td>
                <td>{{metrics.marketcap}}</td>
                <td>{{metrics.totalRevenue}}</td>
                <td>{{metrics.roe}}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>


{% endblock%}
